@model bazargharnext.Models.User

@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;


<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bazarghar</title>


    @using System
    <environment include="Development">



        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/LoginModel.css" />
        <link rel="stylesheet" href="~/css/RegistrationModel.css" />

        <link rel="stylesheet" href="~/css/mylayout.css" />

        <!-- Bootstrap css -->
        <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css">
        <!-- Style css -->
        <link rel="stylesheet" type="text/css" href="~/css/style.css">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <style type="text/css">
        #navbar {
            overflow: hidden;
        }


        /* Page content */
        .content {
            padding: 5px 0 0 0;
        }
        /* The sticky class is added to the navbar with JS when it reaches its scroll position */
        .sticky {
            position: fixed;
            top: 0;
            width: 100%;
        }

            /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
            .sticky + .content {
                padding-top: 5px;
            }

    </style>


    <script type="text/javascript">
        function display_c() {
            const refresh = 1000; // Refresh rate in milli seconds
            const mytime = setTimeout('display_ct()', refresh);
        }

        function display_ct() {
            const x = new Date();
            document.getElementById('ct').innerHTML = x.getFullYear() + "/" + x.getMonth() + "/" + x.getDate() + " - " + x.getHours() + ":" + x.getMinutes() + ":" + x.getSeconds();
            display_c();
        }
    </script>
</head>
<body onload=display_ct(); style="background-color:aliceblue">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navbar" style="z-index: 100">
        <a asp-area="" asp-controller="" asp-action="" class="navbar-brand">
            <img src="~/images/banner.svg" width="30" height="30" class="d-inline-block align-top" alt="">
            BazarGhar
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="">Home <span class="sr-only">(current)</span></a>
                </li>
                
                <li class="nav-item ">
                    <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="BusinessRequest">Business Request @Context.Session.GetInt32("requestCount") <span class="sr-only">(current)</span></a>
                </li>
            </ul>

            <label id="isLoggedin" hidden>@Context.Session.GetString("isLoggedin")</label>
            @if (Context.Session.GetString("isLoggedin") == "true")
            {
<form method="post" asp-controller="Register" asp-action="Logout">
    <ul class="navbar-nav ml-auto d-flex">
        <li>
            @{ var user = JsonConvert.DeserializeObject<User>(Context.Session.GetString("user")); }
            <a asp-area="" asp-controller="MyProfile" class="nav-link" asp-action="Index"><h5>Hi, @user.Username</h5></a>
        </li>
       }
        <li>
            <a class="nav-link" asp-controller="Register" asp-action="LogOut">Logout</a>
        </li>
    </ul>
</form> }
 </div>
 </nav>




    <partial name="_CookieConsentPartial" />

    <div class="content container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="row">
                <div class="col copyright">

                    <div class="col-md-6 col-sm-6 copyright-left">
                        <p>&copy; @DateTime.Now.Year - Bazarghar. All right reserved.</p>
                    </div>

                    <div class="col-md-6 col-sm-6 copyright-right">
                        <span id='ct'></span>

                        <ul class="list-social">
                            <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google"></i></a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>


    <environment include="Development">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="~/lib/jquery/dist/jquery.js"></script>

        <script src="~/lib/popper.js/umd/popper.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>

        <script src="~/lib/jquery-validation/dist/additional-methods.min.js"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/additional-methods.min.js"></script>

        @*/*Script for sticky navbar */*@
        <script>
            window.onscroll = function () { myFunction() };

            var navbar = document.getElementById("navbar");
            var sticky = navbar.offsetTop;

            function myFunction() {
                if (window.pageYOffset >= sticky) {
                    navbar.classList.add("sticky")
                } else {
                    navbar.classList.remove("sticky");
                }
            }
        </script>
        @*/**/*@

    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery/jquery.slim.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="~/js/bootstrap.js"></script>
        <script src="~/lib/popper.js/umd/popper.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @await RenderSectionAsync("Scripts", required: false)
    @*Log in code*@



</body>

</html>





