@using Microsoft.AspNetCore.Http;
@{ String viewType = Context.Session.GetString("userAs");
                if (viewType.Equals("business"))
                {

                    Layout = "_Business";

                }
                else
                {
                    Layout = "_Layout";
                } }
@{ ViewData["Title"] = "Profile"; }
@model IEnumerable<bazargharnext.ModelsView.MyProductView>


<a class="btn" asp-action="SendRegisterEmail" asp-controller="Register">Send email</a>
<style>
    .profile {
        margin-top: 25px;
        margin-left: -30px;
        padding: 10px 10px 0 10px;
    }

    .detail-container {
        margin-top: 25px;
        margin-left: -30px;
        padding-left: 10px;
        white-space: nowrap;
    }

    .item-row {
        /* As wide as it needs to be */
        height: 500px;
        overflow: auto;
    }

    .card {
        margin-bottom: 5px;
        width: auto;
        height: 500px;
    }

    .productImage {
        height: 499px;
        overflow: auto;
        width: auto;
        padding: 10px;
    }

        .productImage .card {
            border-style: solid;
            margin-bottom: 5px;
            width: 100%;
            height: 180px;
            position: relative;
        }

            .productImage .card .image {
                width: 100%;
                height: 180px;
                cursor: zoom-in;
                transition: 0.3s;
            }

                .productImage .card .image:hover {
                    opacity: 0.7;
                }

            .productImage .card .btn {
                width: 20%;
                position: absolute;
                top: 7%;
                left: 87%;
                transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                color: black;
                font-size: 14px;
                padding: 10px 5px;
                border: none;
                cursor: pointer;
                border-radius: 5px;
                background-color: antiquewhite;
            }

                .productImage .card .btn:hover {
                    background-color: #b1dfbb;
                }

    .description {
        padding: 10px;
        height: 499px;
        overflow-x: auto;
        width: auto;
    }

        .description .update {
            color: blue;
            font-size: 16px;
            border: none;
            cursor: pointer;
            border-radius: 5px;
            padding: 5px;
        }

        .description .delete {
            width: 30px;
            color: red;
            font-size: 16px;
            padding: 5px;
            border: none;
            cursor: pointer;
            border-radius: 5px;
        }

        .description .update:hover {
            background-color: #b1dfbb;
        }

        .description .delete:hover {
            background-color: #b1dfbb;
        }
</style>


<div class="row">
    <div class="col-4 ">
        <div class="profile  border">
            @{ User users = ViewBag.MyProfile; }

            <div class="text-center align-content-center">
                <div>
                    <img src="@users.Photo" style="width:90px;height:90px;" alt="avatar" class="rounded-circle img-responsive">
                </div>
                <div>
                    <label>@users.Username</label>
                    <a asp-controller="MyProfile" asp-action="UpdateProfile" title="Update Profile"><img src="icons/edit.png" width="20" height="20" alt="" /> </a>
                </div>
            </div>

            <Table class="border table table-striped">


                <tr>
                    <td>
                        <label>Email :</label>
                    </td>
                    <td>
                        <label> @users.Email </label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Mobile :</label>
                    </td>
                    <td>
                        <label> @users.Contact </label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Gender :</label>
                    </td>
                    <td>
                        <label>@users.Gender </label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Address :</label>
                    </td>
                    <td>
                        <label> @users.Address </label>
                    </td>
                </tr>

            </Table>

        </div>


    </div>
    <div class="col-8">
        <div class="detail-container">
            <div class="text-center">My Product</div>
            <div class="item-row">
                @foreach (var product in ViewBag.Product)
                {



    <div class="card">
        <div class="row">
            <div class="col-4">
                <div class="productImage">
                    @if (product.Gallery.Count > 0)
                    {

                        for (int i = 0; i < product.Gallery.Count; i++)
                        {
    <div class="card">
        <a class="thumbnail">
            <img class="image" src="@product.Gallery[i].URL" alt="@product.Gallery[i].Name" />
        </a>


    </div> }
}
else
{
<div class="card">

    <img class="image" src="~/images/products/noimages.png" alt="No Images" />

</div>}
                </div>
            </div>
            <div class="col-8">
                <div class="description">
                    <div class="table">
                        <table class="table-bordered table-striped">


                            <tr>
                                <td>
                                    Product ID
                                </td>
                                <td style="padding: 0 10px ">
                                    <div class="row">
                                        <label class="col col-8">@product.Product_Id</label>
                                        <a class="update col col-2 text-center" title="Update Details" asp-controller="Product" asp-action="Update_Product" asp-route-id="@product.Product_Id"><i class="fa fa-refresh"></i></a>
                                        <a class="delete col col-2" title="Delete Products" onclick="delete_Product(@product.Product_Id)"><i class="fa fa-trash" style="color:red;"></i></a>
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td style="width: 30%">
                                    Product name:
                                </td>
                                <td>
                                    @product.Product_name
                                </td>

                            </tr>
                            <tr>
                                <td style="width: 30%">
                                    Category:
                                </td>
                                <td>

                                    @product.Category_name
                                </td>

                            </tr>
                            <tr>
                                <td style="width: 30%">
                                    Issue date:
                                </td>
                                <td>
                                    @product.Date
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Price
                                </td>
                                <td>
                                    @product.Price

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Description

                                </td>
                                <td>
                                    @product.Description
                                </td>
                            </tr>
                            @foreach (var details in product.Product_Details)
                            {
                        <tr>
                            <td>@details.Title</td>
                            <td>@details.Description</td>

                        </tr>
}
                        </table>
                    </div>


                </div>
            </div>
        </div>

    </div>}
                <div>
                </div>


            </div>
        </div>
    </div>
</div>

@*Image zoom modal*@
<style>
    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 50; /* Sit on top */
        padding-top: 20px; /* Location of the box */
        left: 10%;
        top: 10%;

        width: 80%; /* Full width */
        height:80%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    }

    /* Modal Content (Image) */
    .modal-content {
        margin: auto;
        display: block;
        width: 90%;
       
    }

   
    /* Add Animation - Zoom in the Modal */
    .modal-content {
        animation-name: zoom;
        animation-duration: 0.3s;
    }

    @@keyframes zoom {
        from {
            transform: scale(0)
        }

        to {
            transform: scale(1)
        }
    }

    /* The Close Button */
    .close {
        position: absolute;
        top: 15px;
        right: 15px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
    }

        .close:hover,
        .close:focus {
            color: #bbb;
            text-decoration: none;
            cursor: pointer;
        }

    /* 100% Image Width on Smaller Screens */
    @@media only screen and (max-width: 700px) {
        .modal-content {
            width: 100%;
        }
    }
</style>
<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- The Close Button -->
    <span class="close">&times;</span>

    <!-- Modal Content (The Image) -->
    <img class="modal-content" id="img01">

    <!-- Modal Caption (Image Text) -->
    <div id="caption"></div>
</div>
<script>
    // Get the modal
    
    var modal = document.getElementById("myModal");

    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var img = document.getElementsByClassName("image");
    var modalImg = document.getElementById("img01");
   
   var imgClick=function(){
        modal.style.display = "block";
        modalImg.src = this.src;
        
    }
        for (var i = 0; i < img.length; i++) {
            img[i].addEventListener('click', imgClick, false);
        }
    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }
   
</script>

@**@




<script>
    function delete_Product(id) {

        if (id != 0) {
            if (confirm("Are You Sure You want to delete it? \n After deleting you can't retrive it")) {


                $.ajax({
                    type: "Get",
                    url: "/Product/DeleteProduct",
                    data: { 'Id': id },
                    dataType: 'json',
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        location.reload();
                    },
                    failure: function (res) {
                        alert(res.responseText);
                    },
                    error: function (res) {
                        alert(res.responseText);
                    }


                });
            }
        } else {
            alert("Product Cannot Be Deleted.");

        }

    }


</script>