@model bazargharnext.ModelsView.MyProductView
@using bazargharnext.ModelsView
@{

    MyProductView myProductView = ViewBag.Data;

}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

@*<script src="//code.jquery.com/jquery-1.10.2.js"></script>*@
<script type="text/javascript">
    
    

    $(document).ready(function () {
       
        $(document).on("click", "#addMore", function () { //
            var rowCount = $('.product-details-tr').length + 1;
            var contactdiv = '<tr class="product-details-tr">' +
                '<td><input type="text"hidden class="i-name01" value="0"/><input type="text" name="txtTitle' + rowCount + '" class="form-control f-name01" /></td>' +
                '<td><input type="text" name="txtDetails' + rowCount + '" class="form-control l-name01" /></td>' +
                '<td><a class="text-center deleteContact" onclick="getProductDetailId(0)"><i class="fa fa-trash-o" style="font-size:20px; color:#ff0000"></i></a></td>' +
                '</tr>' +
                '<tr>'+
                '<tr><td colspan="3" class="text-center"><button type="button" id="addMore" class="addMore">Add More</button></td></tr>' +
                '</tr>';
            $('#mainTable').append(contactdiv); // Adding these controls to Main table class
          

        });
    });
        $(document).on("click", ".deleteContact", function () {
            row = $(this);
            if (Id != 0) {
                if (confirm("Are You Sure You want to delete it? \n After deleting you can't retrive it")) {

                    $.ajax({
                        type: "Get",
                        url: "/AddProduct/Delete_Product_Details",
                        data: { id: Id },
                        contentType: 'application/x-www-form-urlencoded',
                        success: function (data) {
                            alert("Product Detail Deleted Successfully");
                            row.closest("tr").remove();
                        },
                        failure: function (res) {
                            alert(res.responseText);
                        },
                        error: function (res) {
                            alert(res.responseText);
                        }


                    });
                    // closest used to remove the respective 'tr' in which I have my controls
                }
            } else {
                row.closest("tr").remove();

            }
        });
   

    $(document).on("click", ".addMore", function () {
        $(this).closest("tr").remove(); // closest used to remove the respective 'tr' in which I have my controls
    });
    var formData = new FormData();

    $(function click() {
        $("#btnSubmit").click(function (e) {
            e.preventDefault();
            var product = getProduct();
            var product_Details = getAllProductDetails();
            var files = $('#my_file').get(0).files;
            
            formData.append("Product_Id",@myProductView.Product_Id);

            formData.append("Product_Name", product.Product_Name);
            formData.append("Category_id", product.Category_id);
            formData.append("Price", product.Price);
            formData.append("Description", product.Description);
            formData.append("Product_Details", JSON.stringify(product_Details));
            for (i = 0; i < files.length; i++) {
                formData.append("GalleryFiles", files[i]);
            }
            

           $.ajax({
                type: "Post",
                // url: "/AddProduct/Add" + "/?Product=" + JSON.stringify(product) + "&customers=" + JSON.stringify(customers) + "&Gallery=" + JSON.stringify(gallerys),
                url: "/Product/Update",
                data: formData,
                cache: false,
                contentType: false,
                processData: false,
                success: function (data) {
                    alert("Product updated Successfully");
                    location.reload();
                },
                failure: function (res) {
                    alert(res.responseText);
                },
                error: function (res) {
                    alert(res.responseText);
                }


            });
        });
    });

    //data Collection from table
    function getProduct() {
        var product = { 'Product_Id':@myProductView.Product_Id, 'Product_Name': $("#Product_Name").val(), 'Price': $("#Price").val(), 'Description': $("#Description").val(), 'Category_id': $(".Category_id").val() };
        return product;
    }
    function getAllProductDetails() {
        var data = [];
        $('tr.product-details-tr').each(function () {
            var Id = $(this).find('.i-name01').val();
            var Title = $(this).find('.f-name01').val();//Bind to the first name with class f-name01
            var Details = $(this).find('.l-name01').val();//Bind to the last name with class l-name01
            var alldata = {
                'Id': Id,
                'Title': Title, //FName as per Employee class name in .cs
                'Description': Details, //LName as per Employee class name in .cs

            }
            data.push(alldata);
        });

        return data;
        }
        function getId(id) {
            Id = id;
        }

</script>
@*image add delete and update*@
<script language="javascript" type="text/javascript">
   function addimage() {
        $("#my_file").click();
    }

    $(function () {
        $("#my_file").change(function () {
            
            if (typeof (FileReader) != "undefined") {
                var dvPreview = $("#image_row");
              
               
                
                var regex = /^([a-zA-Z0-9\s_\\.\-:])+(.jpg|.jpeg|.gif|.png|.bmp)$/;
                $(".image_col_new").remove();
                $($(this)[0].files).each(function () {
                   
                    var file = $(this);
                    if (regex.test(file[0].name.toLowerCase())) {
                        var reader = new FileReader();
                        reader.onload = function (e) {
                          
                            var image_preview = $(
                                "<div class='col col-12 col-sm-6 image_col_new'><div class='image-preview'>" +
                                "<input type='text' hidden><div class='image-card'><img src=" + e.target.result + " alt = 'img' >" +
                                "</div ></div ></div >");
                           
                           

                            dvPreview.append(image_preview);
                        }
                        reader.readAsDataURL(file[0]);
                        
                    } else {
                        alert(file[0].name + " is not a valid image file.");
                        return false;
                    }
                    var inputFile = $("<input type='file' hidden name='GalleryFiles'>");
                    $('#addImageFile').append(inputFile);
                  
                });
               
            } else {
                alert("This browser does not support HTML5 FileReader.");
            }
            
        });
    });
    $(document).on("click", ".deleteImage", function () {


        if (confirm("Are You Sure You want to delete it? \n After deleting you can't retrive it")) {

            $.ajax({
                type: "Get",
                url: "/Product/Delete_Image",
                data: { id: Id },
                contentType: 'application/x-www-form-urlencoded',
                success: function (data) {
                    alert("Product Detail Deleted Successfully");
                    $(this).parent().parent().parent().remove();
                },
                failure: function (res) {
                    alert(res.responseText);
                },
                error: function (res) {
                    alert(res.responseText);
                }


            });
            // closest used to remove the respective 'tr' in which I have my controls
        }

    }); $(document).on("click", ".UpdateImage", function () {


        if (confirm("Are You Sure You want to delete it? \n After deleting you can't retrive it")) {

            $.ajax({
                type: "Get",
                url: "/Product/ImageUpdate",
                data: { id: Id },
                contentType: 'application/x-www-form-urlencoded',
                success: function (data) {
                    window.history.back();
                    alert("Product Detail Deleted Successfully");
                    
                },
                failure: function (res) {
                    alert(res.responseText);

                },
                error: function (res) {
                    alert(res.responseText);
                }


            });
            // closest used to remove the respective 'tr' in which I have my controls
        }

    });

  
</script>

@*image add delete and update*@
<style>
    .deleteContact {
        opacity: 0.6;
        transition: transform .2s;
    }

        .deleteContact:hover {
            transform: scale(2.0);
            opacity: 1;
        }

    .container {
        width: 100%;
        height: auto;
        padding: 5px;
        background: #e4dddd
    }

    #mainTable {
        width: auto;
        height: auto;
        margin-left: 15px;
    }

    .img-col {
        padding: 5px;
    }

    .image-preview {
        margin: 5px;
        padding: 5px;
        width: 100%;
        height: 205px;
        background-color: #dae882;
        border: 2px solid red;
    }

    .image-card {
        max-width: 250px;
        min-width: 150px;
        max-height: 100%;
        padding: 10px;
        text-align: center;
        vertical-align: central;
        border: 3px solid blue;
    }

        .image-card img {
            max-width: 160px;
            min-width: 100px;
            max-height: 130px;
        }

    .btn {
        width: 150px;
        height: 35px;
        font-size: 16px;
        border-radius: 5%;
    }

    .addMore {
        color: white;
        background-color: #000000;
    }

        .addMore:hover {
            color: #ffffff;
            background-color: green;
        }

    .btnSubmit {
        margin-left: 10px;
        color: white;
        background: #0f36cb;
    }

    .btnCancel {
        color: white;
        background: red;
    }
</style>
<form method="post" enctype="multipart/form-data">
    
    <div class="container">
        <div class="row">
           
            <div class="col col-12 col-sm-5 img-col">
                <div class="row" id="image_row">
                    @foreach (var images in myProductView.Gallery)
                    {
                        <div class="col col-12 col-sm-6">
                            <div class="image-preview">
                                <input type="text" hidden>
                                <div class="image-card">
                                    <img src="@images.URL" alt="@images.Name">
                                </div>
                                <div class="btn-group row" style="margin:auto">
                                    <button type="button" class="col col-sm-5 deleteImage" style="margin:3px" onClick="getId(@images.Id)"><i class="fa fa-trash-o" style="font-size:24px;color:red"></i> </button>
                                    <a class="col col-sm-5 imageUpdate" style="margin: 3px" asp-controller="Product" asp-action="ImageUpdate" asp-route-id="@images.Id"><i class="fa fa-refresh" style="font-size:24px;color:lawngreen"></i> </a>
                                </div>
                            </div>

                        </div>
                    }
                </div>
                <div class="row " id="addImageFile">
                    <div class="col col-12 col-sm-5">

                        <div class="image-preview" id="add_images">
                            <div class="image-card h-100">
                                <a onclick="addimage();" class="w-100; h-100"> <img src="~/images/addimageicon.png" alt="img" class="w-100; h-100"></a>
                                <input type="file" accept="image/*" id="my_file" class="upload" style="display: none;" multiple />
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col col-12 col-sm-7">
                <table id="mainTable" class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                Title
                            </th>
                            <th colspan="2">
                                Description
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                Product Name
                            </td>
                            <td colspan="2">
                                <input type="text" class="form-control" value="@myProductView.Product_name" id="Product_Name" size="30">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Category Name
                            </td>
                            <td colspan="2">
                                <input type="text" class="Category_id" value="@myProductView.Category_id" hidden>
                                <input type="text" class="form-control" value="@myProductView.Category_name" id="Category_name" size="30" title="Category cannot be updated">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Price
                            </td>
                            <td colspan="2">
                                <input class="form-control" type="text" value="@myProductView.Price" id="Price" size="30">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Description
                            </td>
                            <td colspan="2">
                                <textarea id="Description" rows="3" cols="33">@myProductView.Description</textarea>
                            </td>
                        </tr>
                        @if (myProductView.Product_Details != null && myProductView.Product_Details.Count > 0)
                        {
                            for (int i = 0; i < myProductView.Product_Details.Count; i++)
                            {
                                <tr class="product-details-tr">

                                    <td>
                                        <input type="text" hidden class="form-control i-name01" value="@myProductView.Product_Details[i].Id" />
                                        <input type="text" class="form-control f-name01" value="@myProductView.Product_Details[i].Title" id="Title[@i]">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control l-name01" value="@myProductView.Product_Details[i].Description" id="Details[@i]">
                                    </td>

                                    <td><a class="text-center deleteContact" onclick="getProductDetailId(@myProductView.Product_Details[i].Id)"><i class="fa fa-trash-o" style="font-size:20px; color:#ff0000"></i></a></td>
                                </tr>
                            }
                            <tr><td colspan="3" class="text-center"><button type="button" id="addMore" class="btn addMore">Add More</button></td></tr>
                        }
                        else
                        {
                            <tr><td colspan="3" class="text-center"><button type="button" id="addMore" class="btn addMore">Add More</button></td></tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="3">
                                <div class="btnGroup text-center">
                                    <button class="btn btnCancel">Cancel Update</button>
                                    <button class="btn btnSubmit" id="btnSubmit">Update Now</button>
                                </div>
                            </td>
                        </tr>
                    </tfoot>
                </table>




            </div>

        </div>

    </div>

</form>

